@import "tailwindcss";

@theme {
  --color-background: #06060e;
  --color-foreground: #0c0c1a;
  --color-border: #1c1c38;
  --color-accent: #00ff87;
  --color-primary: #ddddf0;
  --color-secondary: #8888aa;
}

body {
  font-family: var(--font-jetbrains-mono), monospace;
}

.bg-grid {
  background-size: 60px 60px;
  background-color: var(--color-background);
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.025) 1px, transparent 1px), linear-gradient(to bottom, rgba(255, 255, 255, 0.025) 1px, transparent 1px);
}

.blink {
  animation: blink 1s step-start infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
  0%,
  100% {
    opacity: 1;
  }
}
